@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Article>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var banner = CurrentPage.GetPropertyValue<IPublishedContent>("articleBanner");
    var bannerUrl = banner != null ? banner.Url : "";
    //var bannerLink = content.GetPropertyValue<IPublishedContent>("bannerLink");
    var bannerImageTitle = CurrentPage.GetPropertyValue<IPublishedContent>("articleImageTitle");
    var bannerImageAlt = CurrentPage.GetPropertyValue<IPublishedContent>("articleImageAlt");
}


<!-- Blog post -->
 @if (bannerUrl != "")
 {
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post_img">
                    <img src="@bannerUrl" alt="@bannerImageAlt" title="@bannerImageTitle">
                </div>
            </div>
        </div>
    </div>
}
<div class="container mb-65px">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 mt-10px">
            <div class="blog_posts stander_blog_single_post">
                <article>
                    <h3 class="post_title">
                        <a href="@CurrentPage.articleUrl">@Html.Raw(CurrentPage.articleTitle)</a>
                    </h3>
                    <div class="post_meta_top">

                        <span class="post_meta_date">@(CurrentPage.articlePublishedDate != null ? CurrentPage.articlePublishedDate.ToString("MMM dd, yyyy") : "")</span>
                    </div>
                    <div class="post_content">
                        @Html.Raw(CurrentPage.articleBody)
                    </div>
                    <div class="separator-line"></div>
                </article>
            </div>
        </div>
    </div>
</div>