@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Nomad.Models.Contact
@using Nomad.Controllers
@{
    Layout = "Master.cshtml";
    ContactViewModel contactModel = new ContactViewModel();
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@if (ViewBag.WasSent != null && (Convert.ToBoolean(ViewBag.WasSent)) == true)
{
    <div class="alert alert-success" role="alert">
        Your message was sent!
    </div>
}

@using (Html.BeginUmbracoForm<Nomad.Controllers.ContactController>("Contact", "ContactController", FormMethod.Post))
{ 
    <!-- Contact us  -->
<div class="pb-55px pt-55px">
    <div class="container">
        <div class="row mb-20px">
            <div class="col-lg-5 mb-40px">
                <h1 class="mb-15px">@Umbraco.GetDictionaryValue("Contact form")</h1>
                @*
                <p class="lead">
                    onlinecasinomilion@gmail.com
                </p>
                *@
            </div>
            <div class="col-lg-6 offset-lg-1">
                <form id="contact-form" data-toggle="validator" role="form" class="form-fields-bg-transparent" method="post" action="contact.php"
                      novalidate="true">
                    <div class="row mb-0">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group mb-30px">
                                @Html.TextBoxFor(m => contactModel.Title, htmlAttributes: new { @id = "Title", @name = "Title", @placeholder = @Umbraco.GetDictionaryValue("Title"), @class = "form-control" })
                                @Html.ValidationMessageFor(m => contactModel.Title)
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group mb-30px">
                                @Html.TextBoxFor(m => contactModel.Email, htmlAttributes: new { @id = "Email", @name = "Email", @placeholder = @Umbraco.GetDictionaryValue("Email Address"), @class = "form-control" })
                                @Html.ValidationMessageFor(m => contactModel.Email)
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-15px">
                        <div class="form-group col-md-12">
                            <div class="form-group mb-0">
                                @Html.TextAreaFor(m => contactModel.Body, htmlAttributes: new { @id = "Body", @name = "Body", @placeholder = @Umbraco.GetDictionaryValue("Message"), @class = "form-control", @rows = "7" })
                                @Html.ValidationMessageFor(m => contactModel.Body)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 align-left">
                            <button type="submit" class="btn btn-dark rounded-0">@Umbraco.GetDictionaryValue("Submit")</button>
                        </div>
                    </div>
                    <div class="loading-spinner"></div>
                    <div class="messages mt-20px"></div>
            </div>
        </div>
    </div>
</div>
}
