@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
    /**/

    int j = 0;

    Layout = "Master.cshtml";
    string carouselId = "galleryImages";
    IEnumerable<IPublishedContent> carousel = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>(carouselId);
    IEnumerable<IContent> reviewChildrens = null;
    //Response.Redirect("/Casinos");
    string guidstr = "";
    if (Culture == "en-US")
    {
        guidstr = "380435a1-a234-41c8-af6c-5600b44f2061";
    }
    if (Culture == "pl")
    {
        //guidstr = "21cb3b79-5a9b-4c3d-a68a-9cf62ca858af";
    }

    if (guidstr != "")
    {
        Guid guid = new Guid(guidstr);
        var cs = ApplicationContext.Services.ContentService;
        reviewChildrens = cs.GetById(guid).Children();
    }

    var logoListSave = carousel.Where(x => x.IsVisible());
    var logoListSaveGroup = logoListSave.Select((x, i) => new { Index = i, Value = x })
            .GroupBy(x => x.Index / 3)
            .Select(x => x.Select(v => v.Value).ToList())
            .ToList();
    int counter = 0;
    string active = "active";
}





@*
    @if (carousel != null && carousel.Any())
    {
        var logoList = carousel.Where(x => x.IsVisible());
        <!-- Testimonials -->
        <div class="bg-color-graish pt-10px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="testimonials_box" class="owl-carousel testimonials testimonials_box">
                            @foreach (var logo in logoList)
                            {
                                string title = logo.HasValue("slideTitle") ? logo.GetPropertyValue<string>("slideTitle") : "";
                                string subtitle = logo.HasValue("slideSubtitle") ? logo.GetPropertyValue<string>("slideSubtitle") : "";
                                string imageTitle = logo.HasValue("slideImageTitle") ? logo.GetPropertyValue<string>("slideImageTitle") : "";
                                string imageAlt = logo.HasValue("slideImageAlt") ? logo.GetPropertyValue<string>("slideImageAlt") : "";
                                string imageUrl = logo.HasValue("slideImage") ? logo.GetPropertyValue<IPublishedContent>("slideImage").Url : "/img/carousel.jpg";
                                string link = logo.HasValue("slideLink") ? logo.GetPropertyValue<string>("slideLink") : "";

                                <div class="testimonial">
                                    <div class="row small-gutters align-items-center mb-25px">
                                        <div class="col-12">
                                            <div class="testimonial-img">
                                                <a href="@link">
                                                    <img class="img-rectangle" src="@imageUrl" alt="@imageAlt" title="@title">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="client">
                                                <div class="client-info client-info-position">
                                                    <span class="client-name">
                                                        <a href="@link">@title</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        @subtitle
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
*@































<div class="container my-4">


    <hr class="my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="slider-arrow-position fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="slider-arrow-position fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
        <!--Indicators-->
        <ol class="carousel-indicators">
            @foreach (var item in logoListSave)
            {
                <li data-target="#multi-item-example" data-slide-to="@counter"></li>
                counter++;
            }
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">



            @foreach (var items in logoListSaveGroup)
            {
                <div class="carousel-item @active">
                    <div class="row">
                        @foreach (var item in items)
                        {
                        string title = item.HasValue("slideTitle") ? item.GetPropertyValue<string>("slideTitle") : "";
                        string subtitle = item.HasValue("slideSubtitle") ? item.GetPropertyValue<string>("slideSubtitle") : "";
                        string imageTitle = item.HasValue("slideImageTitle") ? item.GetPropertyValue<string>("slideImageTitle") : "";
                        string imageAlt = item.HasValue("slideImageAlt") ? item.GetPropertyValue<string>("slideImageAlt") : "";
                        string imageUrl = item.HasValue("slideImage") ? item.GetPropertyValue<IPublishedContent>("slideImage").Url : "/img/carousel.jpg";
                        string link = item.HasValue("slideLink") ? item.GetPropertyValue<string>("slideLink") : "";
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <a href="@link">
                                        <img class="card-img-top" src="@imageUrl" alt="@imageAlt" title="@imageTitle">
    
                                        <div class="card-body">
                                            <h4 class="card-title">title</h4>
                                            <p class="card-text">
                                                Check!
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                active = "";
            }





        </div>
        <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->


</div>
























@*
@if (carousel != null && carousel.Any())
{
    var logoList = carousel.Where(x => x.IsVisible());
    <div class="fluid-container px-40px">
        <div class="row no-gutters">
            <div class="col-12 my-10px">
                <ul id="loop_carousel" class="owl-carousel client-logo-list px-20px">

                    @foreach (var logo in logoList)
                    {
                        string title = logo.HasValue("slideTitle") ? logo.GetPropertyValue<string>("slideTitle") : "";
                        string subtitle = logo.HasValue("slideSubtitle") ? logo.GetPropertyValue<string>("slideSubtitle") : "";
                        string imageTitle = logo.HasValue("slideImageTitle") ? logo.GetPropertyValue<string>("slideImageTitle") : "";
                        string imageAlt = logo.HasValue("slideImageAlt") ? logo.GetPropertyValue<string>("slideImageAlt") : "";
                        string imageUrl = logo.HasValue("slideImage") ? logo.GetPropertyValue<IPublishedContent>("slideImage").Url : "/img/carousel.jpg";
                        string link = logo.HasValue("slideLink") ? logo.GetPropertyValue<string>("slideLink") : "";

                        <li>
                            <a href="@link">
                                <img src="@imageUrl" alt="@imageAlt" title="@imageTitle">
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
}
*@

<div class="pt-40px">
    <div class="container">
        <div data-aos="flip-left">
            <div class="reviews-table reviews-table-desktop">
                <div class="review-item">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3 review-td-position">
                            <b>@Umbraco.GetDictionaryValue("Brand")</b>
                        </div>
                        <div class="col-sm-3 col-xs-3 review-td-position">
                            <b>@Umbraco.GetDictionaryValue("Welcome Bonus")</b>
                        </div>
                        <div class="col-sm-3 col-xs-3 review-td-position">
                            <b>@Umbraco.GetDictionaryValue("Rating")</b>
                        </div>

                        <div class="col-sm-3 col-xs-3 review-td-position">
                            <b>@Umbraco.GetDictionaryValue("Links")</b>
                        </div>
                    </div>
                </div>
                @if (reviewChildrens != null)
                {
                    foreach (var item in reviewChildrens)
                    {
                        var rating = int.Parse(item.GetValue("casinoRating").ToString());
                        var rating2 = item.HasProperty("casinoRating2") ? int.Parse(item.GetValue("casinoRating2").ToString()) : 0;

                        var url = item.GetValue("casinoImage");
                        var link = item.GetValue("casinoRegisterLink");
                        var reviewLink = item.GetValue("casinoReviewLink");
                        var alt = item.GetValue("casinoImageAlt");
                        var title = item.GetValue("casinoImageTitle");
                        var desc = item.GetValue("casinoDescription");
                        if (url == null)
                        {
                            continue;
                        }
                        <div class="review-item">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3 review-td-position">
                                    <img class="review-image" src="@Umbraco.TypedMedia(url).Url" alt="@alt" title="@title" />
                                </div>
                                <div class="col-sm-3 col-xs-3 review-td-position">
                                    @Html.Raw(desc)
                                </div>
                                <div class="col-sm-3 col-xs-3 review-td-position">
                                    <div class="review-rating">
                                        <div>
                                            <div>
                                                @Umbraco.GetDictionaryValue("User Experience")
                                            </div>
                                            <div>
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    if (i < rating)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <div>
                                            <div>
                                                @Umbraco.GetDictionaryValue("Bonus")
                                            </div>
                                            <div>
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    if (i < rating2)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-3 review-td-position">
                                    <div class="review-buttons-container">
                                        <a href="@link" class="btn m-1 btn-danger btn-sm review-link">@Umbraco.GetDictionaryValue("Register")</a>
                                        <a href="@reviewLink" class="btn m-1 btn-danger btn-sm review-link">@Umbraco.GetDictionaryValue("Review")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div data-aos="flip-left">
            <div class="reviews-table reviews-table-mobile">
                <div class="review-item">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 review-td-position">
                            <b>@Umbraco.GetDictionaryValue("Brand")</b>
                        </div>
                        <div class="col-sm-4 col-xs-4 review-td-position">
                            <b>@Umbraco.GetDictionaryValue("Welcome Bonus")</b>
                        </div>
                        <div class="col-sm-4 col-xs-4 review-td-position review-rating-links">
                            <div class="review-rating">
                                <b>@Umbraco.GetDictionaryValue("Rating")</b>
                            </div>
                            <div class="review-buttons-container">
                                <b>@Umbraco.GetDictionaryValue("Links")</b>
                            </div>
                        </div>
                    </div>
                </div>
                @if (reviewChildrens != null)
                {
                    foreach (var item in reviewChildrens)
                    {
                        var rating = int.Parse(item.GetValue("casinoRating").ToString());
                        var rating2 = int.Parse(item.GetValue("casinoRating2").ToString());

                        var url = item.GetValue("casinoImage");
                        var link = item.GetValue("casinoRegisterLink");
                        var reviewLink = item.GetValue("casinoReviewLink");
                        var alt = item.GetValue("casinoImageAlt");
                        var title = item.GetValue("casinoImageTitle");
                        var desc = item.GetValue("casinoDescription");
                        if (url == null)
                        {
                            continue;
                        }
                        <div class="review-item">
                            <div class="row">
                                <div class="col-sm-4 col-xs-4 review-td-position">
                                    <img class="review-image" src="@Umbraco.TypedMedia(url).Url" alt="@alt" title="@title" />
                                </div>
                                <div class="col-sm-4 col-xs-4 review-td-position">
                                    @Html.Raw(desc)
                                </div>
                                <div class="col-sm-4 col-xs-4 review-td-position review-rating-links">
                                    <div class="review-rating">
                                        <div>
                                            <div>
                                                @Umbraco.GetDictionaryValue("User Experience")
                                            </div>
                                            <div>
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    if (i < rating)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <div>
                                            <div>
                                                @Umbraco.GetDictionaryValue("Bonus")
                                            </div>
                                            <div>
                                                @for (int i = 0; i < 10; i++)
                                                {
                                                    if (i < rating2)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star"></span>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div>
                                    <div class="review-buttons-container">
                                        <a href="@link" class="btn m-1 btn-danger btn-sm review-link">@Umbraco.GetDictionaryValue("Register")</a>

                                        <a href="@reviewLink" class="btn m-1 btn-danger btn-sm review-link">@Umbraco.GetDictionaryValue("Review")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div>
            @Html.Raw(CurrentPage.homePart1)
        </div>
    </div>
</div>